.edit-form{
    font-family: Helvetica, sans-serif;
    margin-top: 5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-right: 5rem;
}

.edit-form input{
    padding: 0.25rem;
    margin-right: 2rem;
    height: 25px;
    border-radius: 5px;
    border: 0.5px solid #3174ad;
    width: 200px;
}
.edit-form label:first-of-type{
    margin-left: 7rem;
}

.edit-form  button{
    border: 0.5px solid #3174ad;
    border-radius: 5px;
    width: 100px;
    background-color: white;
    color: #3174ad;
    font-weight: bold;
    height: 35px;
    transition: all 300ms ease-in;
}

.edit-form  button:first-of-type{
    margin-right: 0.5rem;
}

.edit-form  button:hover{
    cursor: pointer;
    background-color: #3174ad;
    color: white;
}