.form-wrapper {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.form-wrapper form {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.form-wrapper form input,
.form-wrapper form button {
    padding: 0.25rem;
    height: 25px;
    border-radius: 5px;
    width: 200px;
}

.form-wrapper form button {
    width: 150px;
}

.form-wrapper form button:hover {
    cursor: pointer;
    background-color: lightgrey;
}